@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {

    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: rgb(255, 255, 255);
}

.titulo-destaque {
    color: #68f033d4;
}

.apresentacao {
    margin: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {

    background-color: rgba(229, 242, 44, 0.764);
    width: 180px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 5px;
    padding-right: px;


    text-decoration: none;
    color: rgb(0, 0, 0);


}

.apresentacao__conteudo {
    width: 630px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.apresentacao__conteudo__titulo {
    font-size: 30px;
    font-family: font-family: font-family: "Krona One", sans-serif;
}

.apresentacao__coteudo__texto {
    font-size: 20px;
    font-family: 'montserrat', sans-serif;
}